.scale-to-fit-container {
	overflow: hidden;
}

.scale-to-fit-container > .scale-to-fit.fill-height {
	height: 100%;
	width: auto;
}
.scale-to-fit-container > .scale-to-fit.fill-height.center {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.scale-to-fit-container > .scale-to-fit.fill-width {
	height: auto;
	width: 100%;
}
.scale-to-fit-container > .scale-to-fit.fill-width.center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
